@model Project_MVC.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
   
        <dd class="col-sm-10">
            @if (Model.ImageName == null)
            {
                <img decoding="async" src="@("~/default_image/default.jpg")" asp-append-version="true" width="100px" height="100px" />
            }
            else
            {
                <img decoding="async" src="@("~/images/"+Model.ImageName)" asp-append-version="true" width="200px" height="200px" />
            }
        </dd>
    </dl>
</div>
<div>
     @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <a class="btn btn-success" asp-controller="Products" asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a>
        <text> |</text>
    }

    
    <a class="btn btn-success" asp-controller="Products" asp-action="Index">Back to List</a>
    <a asp-action="AddToCart" asp-controller="Products" asp-route-productId="@Model.ProductId" class="btn btn-dark"> Dodaj do koszyka</a>
    
</div>
